*{
    margin: 0 !important;
    padding: 0 !important;
}

.heading {
    color: rgb(68, 122, 17) !important;
    text-align: center !important;
}

.heading-size {
    font-size: 72px;
}

.text-purpel{
    color: rgb(128, 0, 128);
    text-align: center;
}